@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Yusei+Magic&display=swap');

body {
  background-color: #FFF0D9;
}
h1 {
  font-family: 'Coiny', cursive;
  font-size: 4vw;
  padding: 0;
  margin: 0;
  color: #521100;
}

h4 {
  font-family: 'Yusei Magic', sans-serif;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Yusei Magic', sans-serif;
}

li {
  font-family: 'Yusei Magic', sans-serif;
}

#ingredients li span {
  color: #505050;
}

#ingredients li:nth-child(10) {
  color: brown;
}

#equipment li:nth-child(4) {
  color: brown;
}